DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=password
DB_NAME=donortally
CLIENT_URL=http://localhost:3333
NODE_ENV=development
PORT=3000
JWT_SECRET=change-me-in-production
GOOGLE_MAPS_API_KEY=
